In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./goodnotes_data.csv')
df

,event_date,user_id,event_name
0,2023-11-15,0000218A6AEA4AF7B25E7BA23153186E,complete_document_edit_session
1,2023-11-15,00019DFAEE2E464DBFD45929EFBFAAF8,complete_document_edit_session
2,2023-11-15,0001DE2BB68648C39218DE67F52A54DB,complete_document_edit_session
3,2023-11-15,0002602C8EF945B7896C002BC3ADA3C1,complete_document_edit_session
4,2023-11-15,0000E959A3224401A740346ED879CF2C,complete_document_edit_session
...,...,...,...
227870,2024-03-18,0001E95239BF4A3CA984242431332351,document_imported
227871,2024-03-18,000C4F4FEF5749E7BB1BBCDC6ECA4538,document_imported
227872,2024-03-18,0008EF83F17346AFABB7A954B5DAD3E6,document_imported
227873,2024-03-18,0001C47B25344C8B862DFCFB04BF0441,document_imported
227874,2024-03-18,001803D597454CC2A2A2A3DD2C40C160,document_imported

Active User: 
- a user is considered active on any day where they have at least one event triggered in the prior 28 days. 
- For example, if the following record is present in events, the user who has the ID 00045 is considered active on 2017-04-01 through 2017-04-28 (inclusive) even if no further activity is detected.

Churn User: 
- a user is considered to be a churn user during the 28 days following their last being considered active. 
- Given the example above (assuming no new records for that user) user 00045 contributes to churn from 04-29 and for the following 27 days. 
- A user is no longer a churn user if they become active again.
- Staying with our example: imagine the user has another event on 05-10. The user would contribute to churn from 04-29 to 05-09, but on 05-10 be considered active again.

Details:
- Please use SQL scripts / queries / views to perform this portion of the test. Include them in your submission.
- We recommend structuring your queries with CTEs rather than nested sub-queries when possible.
- Feel free to orchestrate the steps with any tool you’d like to. Document these steps in your submission.
- Please annotate your coding logic to make it easier for us to follow.